.root {
    /* background-color: blue; */
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
    /* background by SVGBackgrounds.com */
    background-color: #394bad;
    background-image: url('./bg.svg');
}
.container {
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 1rem;
}
.heading{
    font-size: 1.7rem;
}

.link {
    color: white;
}
.palettes {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 2.5rem;
}

/* media query */
/* xl */
@media (max-width: 1600px){
    .container{
        width: 80%;
    }
}

/* md */ 
@media (max-width: 991.98px){
    .palettes{
        grid-template-columns: repeat(2,50%);
    }
}

/* xs */ 
@media (max-width: 575.98px){
    .container{
        width: 75%;
    }
    .palettes{
        grid-template-columns: repeat(1,100%);
        grid-gap: 1.4rem;
    }
}