/* .pickerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
.picker{
    width: 95% !important;
    margin-top: 2rem;
}

.addColor{
    width: 100%;
    padding: 0.8rem !important;
    margin-top: 1rem !important;
    font-size: 1.2rem !important;
}
.colorNameForm {
    width: 95%;
}

.colorNameInput {
    width: 100%;
    height: 70px;
}