.root {
    display: flex;
}
.navBtns{
    margin-right: 1rem;
}
.button {
    margin: 0 0.5rem !important;
}
.link {
    text-decoration: none;
}

/* xs */
@media (max-width: 575.98px){
    .navBtns{
        margin-right: 0.5rem;
        display: flex;
    }
    .button {
        margin: 0 0.2rem !important;
        padding: 0.3rem !important;
    }
}